---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---

{% include "components/navstatic.njk" %}
{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
<!--
<nav>
  <a href="{{ '/' | url }}">← Back</a>
</nav>
-->