{% set eventslist = collections.event %}
<section class="mt-6 hidden lg:flex flex-col items-center sm:px-16 sm:px-20 mb-20 w-full" id="events-tab">
	{# give padding of style="padding: 0 10%;" in md #}
	{% for event in eventslist | reverse %}
	{# for tag in event.data.tags #}
	{# if tag == "test" #}
	<article{% if event.url == url %} data-current="current item" {% endif %}
		class="p-6 mt-3 rounded-lg shadow entry entry--category is-home sm:rounded sm:shadow sm:p-8" style="overflow: hidden; max-width: 92%; min-width: 92%;" onclick="hideTabs()">
		<h3 class="text-xl lg:text-2xl">
			<a href="{{ event.url | url }}">
				{% if event.data.title %}
				{{ event.data.title }}
				{% else %}
				Untitled
				{% endif %}
			</a>
		</h3>

		{% if event.data.description %}
		<!--
					<p>
<a href="{{ event.url | url }}">-->
		<!--{{ event.data.description }}-->
		<!--	</a> 
		</p>
-->

		{% endif %}

		<p datetime="{{ event.date | machineDate }}">
			🗓 {{ event.date | readableDate }}
			<!--	⏰  {{ event.date | readableTime }} Uhr-->

			<!--	<p>Organized by ->
					{{ event.data.organizer }}
					</p>-->
		</p>

		<p>⏰ {{ event.data.start }} bis {{ event.data.end }}</p>
		<p>📍 {{ event.data.city }}</p>

		{% if event.data.tags %}
		<p class="meta--txt tag">
			{% for tag in event.data.tags %}
			{%- if tag != "event" -%}
			{% set tagUrl %}/tags/{{ tag }}/{% endset %}
			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
			{%- endif -%}
			{% endfor %}
		</p>

		{% endif %}

		</article>
		{# endif #}
		{# endfor #}
		{% endfor %}
</section>