<div id="contact-tab" class="mt-6 hidden lg:flex flex-col items-center sm:px-16 sm:px-20 mb-20 w-full">
<div class="p-6 mt-3 rounded-lg shadow entry entry--category is-home sm:rounded sm:shadow sm:p-8" style="overflow: hidden; max-width: 92%;">
<h1 class="text-2xl meta--txt meta--primary meta--heading text-center">Get in touch</h1>

  <p class="text-center">
    <small class="meta meta--primary text-center">
      Feel free to get in touch with us by directly sending an email to <a href="mailto:basu@deathincustody.de" target="_top"> basu@deathincustody.de</a> or by using the contact form below.
    </small>
  </p>
  <form name="contact" method="POST" netlify class="flex flex-col">
    <label for="name" class="block mt-3">Name</label>
    <input class="p-2 w-full rounded hover:bg-white focus:outline-none focus:bg-white focus:shadow-outline focus:border-red-300" type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>
    <label for="email" class="block mt-3">Email</label>
    <input class="p-2 w-full rounded hover:bg-white focus:outline-none focus:bg-white focus:shadow-outline focus:border-red-300" type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    <label for="message" class="block mt-3">Message</label>
    <textarea class="p-2 w-full rounded hover:bg-white focus:outline-none focus:bg-white focus:shadow-outline focus:border-red-300" name="message" id="message" placeholder="Write your message here" rows="7" required></textarea>
    <button type="submit" name="submit" class="mt-6 rounded border-solid border-2 p-2 w-6/12 self-center rounded-full"> <p class="text-center text-xs font-semibold" style="color:#dd7888">Send Message</p></button>
  </form>
</div>
</div>
