<style>
  td, th {
    border-bottom: none;
  }
.gcsc-find-more-on-google-root {
    display: none !important;
}
  .gsc-control-cse {
    background-color: transparent !important;
    margin-top: -30px;
    border-color: transparent !important;
    margin-top: 1.7rem;
  }

  input.gsc-input,
  .gsc-input-box,
  .gsc-input-box-hover,
  .gsc-input-box-focus {
    max-height: 36px !important;
    padding-left: 4px !important;
  }

  .gsc-results-wrapper-visible {
    margin-left: 60px !important;
  }

  form.gsc-search-box {
    width: 70vw !important;
  }

  .gsc-results-wrapper-overlay {
    top: 0 !important;
    height: 100% !important;
    width: 100vw !important;
    left: -16% !important;
  }

  .gsc-search-button-v2 {
    width: 14vw !important;
    padding: 10px 17px !important;
    height: 34.6px !important;
  }

  @media (min-width: 640px) {
    .gsc-search-button-v2 svg {
      margin-left: 42% !important;
    }
  }


  .gsc-input-box {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  @media (min-width: 1024px) {
      .gsc-control-cse {
    margin-top: 0;
  }

        .gsc-results-wrapper-overlay {
    left: -4.2vw !important;
}
    form.gsc-search-box {
      width: 50vw !important;
    }

    .gsc-search-button-v2 {
      width: 5vw !important;
      padding: 10px 17px !important;
      height: 34px !important;
    }
  }

 .cse_block_container {
    display: none !important;
height: 1px !important;
 }

.cse_block_container {
    display: none !important;
}

.gsc-adBlock {
      display: none !important;
}
    .gsc-search-button-v2 svg {
      margin-left: 42% !important;
    }
  }

  .gsc-input-box {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }




</style>

<div class="gcse-search"></div>

<script async src="https://cse.google.com/cse.js?cx=007909926694560401370:8xs6hbuimwv"></script>
