<div
  class="intro-card flex flex-col lg:pt-4 p-4 lg:rounded-lg lg:w-11/12 shadow-2xl lg:min-h-0 lg:mb-8"
  id="home-tab"
>
  <a href="{{ '/' | url }}" class="hidden lg:flex logo flex justify-center">
    <div class="fixed" style="background: white; height:11.5vw"></div>
    <img
      src="{{ metadata.logo }}"
      class="logo-img h-32 lg:h-auto w-9/12 mr-4"
    />
  </a>
  <h4 class="text-center mt-3 lg:hidden">Über Uns</h4>

  <p
    class="text-sm font-medium text-center mt-2"
    style="margin-bottom:0; font-family: inter;"
  >Regelmäßig sterben Menschen in Gewahrsam oder durch Polizeischüsse. Offizielle Statistiken werden dazu nicht veröffentlicht. Die Todesfälle der letzten Zeit legen aber nahe, dass Schwarze Menschen und Menschen of Color ein besonders hohes Risiko laufen, in staatlicher „Obhut“ ihr Leben zu verlieren oder durch die Polizei getötet zu werden; ein klarer Hinweis auf rassistische Strukturen.
  </p>
  <h4 class="text-center mt-8">Unsere Partner</h4>
  {% include "components/logos-marquee.njk" %}
  <button
    onclick="activateTab('about');"
    class="mt-6 rounded border-solid border-2 p-2 w-6/12 self-center rounded-full"
  >
    <p class="text-center text-xs font-semibold" style="color:#dd7888">
      MEHR WISSEN
    </p>
  </button>
</div>

<style>
  .intro-card {
    min-height: 72vh;
    margin: 0 auto;
    border: 1px solid hsla(350, 57%, 65%, 0.15);
    background: hsla(0, 0%, 100%, 0.94);
    margin-bottom: 6rem;
  }
  @media (max-width: 1023px) {
    .intro-card {
      margin-top: 190px;
      margin-bottom: 0;
    }
  }
</style>

<script>
  if (location.pathname.indexOf("/posts/") == 0) {
    document.querySelector("#home-tab").style.display = "none";
  }
</script>
