 <a href="{{ '/' | url }}" class="pb-2 logo flex justify-center bg-white lg:hidden" style="height:20vh;">
   <div class="fixed" style="height:11.5vw"></div>
   <img src="{{metadata.logo}}" class="logo-img h-32 md:h-auto w-7/12 h-full mr-4">
 </a>
