<section class="hidden lg:flex flex-col items-center sm:px-16 sm:px-20 mb-20 w-full" id="articles-tab">


    {% include "components/tags-bar.njk" %}


  {% include "components/google-search.njk" %}




  {# give padding of style="padding: 0 10%;" in md #}
  {% for post in postslist | reverse %}
  {# for tag in post.data.tags #}
  {# if tag == "test" #}
  <article {% if post.url == url %} data-current="current item" {% endif %} class="p-6 mt-3 rounded-lg shadow entry entry--category is-home sm:rounded sm:shadow sm:p-8" style="overflow: hidden; max-width: 92%;">
    <h3 class="entry-heading--category">
      <a href="{{ post.url | url }}" class="text-2xl lg:text-3xl">
        {% if post.data.title %}
        {{ post.data.title }}
        {% else %}
        Untitled
        {% endif %}
      </a>
    </h3>
    {% if post.data.summary %}
    <p class="mb-2 mt-2 text-sm lg:text-base leading-normal lg:leading-relaxed">
      <a href="{{ post.url | url }}">
        {{ post.data.summary }}
      </a>
    </p>
    {% endif %}
    <p class="meta--txt author">
      <time datetime="{{ post.date | machineDate }}">
        <!-- <small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>-->

        <small class="meta meta--primary author text-xs">{{ post.date | readableDate }} by
          {{ post.data.author }}</small>

      </time>
    </p>
    {% if post.data.tags %}
    <p class="meta--txt tag text-xs leading-tight mt-1">
      {% for tag in post.data.tags %}
      {%- if tag != "post" -%}
      {% set tagUrl %}/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
      {% endfor %}
    </p>

    {% endif %}

  </article>
  {# endif #}
  {# endfor #}
  {% endfor %}


</section>
