
<section class="row sm:px-16 sm:px-20 mb-20">

<ul class="flex justify-center sm:mt-20 w-full pl-0">
  <li class="mr-3 meta--txt">
    <a href="/germany/" class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 filter py-2 px-4 text-xs" id="germany">Germany</a>
  </li>
    <li class="mr-3 meta--txt">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 filter py-2 px-4 text-xs" href="/europe/" id="europe">Europe</a>
  </li>
 
      <li class="mr-3 meta--txt">
    <a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white filter py-2 px-4 text-xs" href="/#articles" id="all">All</a>
  </li>

    <li class="mr-3 meta--txt">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 filter py-2 px-4 text-xs" href="/international/" id="international">International</a>
  </li>
      <li class="mr-3 meta--txt">
    <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 filter py-2 px-4 text-xs" href="/opinion/" id="opinion">Opinion</a>
  </li>
</ul>



	{# give padding of style="padding: 0 10%;" in md #}
	{% for post in postslist | reverse %}
	{# for tag in post.data.tags #}
	{# if tag == "test" #}
	<article{% if post.url == url %} data-current="current item" {% endif %} class="entry entry--category is-home sm:rounded sm:shadow sm:p-8">
		<h3 class="entry-heading--category">
			<a href="{{ post.url | url }}" class="text-2xl">
				{% if post.data.title %}
				{{ post.data.title }}
				{% else %}
				Untitled
				{% endif %}
			</a>
		</h3>
		{% if post.data.summary %}
		<p>
			<a href="{{ post.url | url }}">
				{{ post.data.summary }}
			</a>
		</p>
		{% endif %}
		<p class="meta--txt author">
			<time datetime="{{ post.date | machineDate }}">
				<!-- <small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>-->

				<small class="meta meta--primary author text-xs">{{ post.date | readableDate }} by
					{{ post.data.author }}</small>

			</time>
		</p>
		{% if post.data.tags %}
		<p class="meta--txt tag">
			{% for tag in post.data.tags %}
			{%- if tag != "post" -%}
			{% set tagUrl %}/tags/{{ tag }}/{% endset %}
			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
			{%- endif -%}
			{% endfor %}
		</p>

		{% endif %}

		</article>
		{# endif #}
		{# endfor #}
		{% endfor %}

	
</section>
