<marquee class="w-full overflow-x-scroll">
  <div class="flex flex-row flex-no-wrap mb-2 mt-2 overflow-x-scroll items-center justify-between" style="width:50rem">
    <a href="https://kop-berlin.de/"><img src="../../static/img/kop white logo.svg" alt="" class="w-16 h-14 mt-1" /></a>
    <a href="https://www.eoto-archiv.de/"><img src="../../static/img/e1t1.jpg" alt="" class="w-32 ml-6 xl:mt-0 lg:ml-4" /></a>
    <a href="https://bdb-germany.de/de/willkommen/"><img src="../../static/img/cropped-bund-antidiskriminierung-bildungsarbeit-logo.png" alt="" class="mt-2 ml-4 w-24 h-8 lg:mt-6 lg:ml-4" /></a>
    <a href="http://www.migrationsrat.de/"><img src="../../static/img/mr.jpg" alt="" class="mt-2 w-32 ml-4 lg:mt-6 lg:ml-4" /></a>
    <a href="https://justizwatch.noblogs.org/"><img src="../../static/img/jw.jpg" alt="" class="w-32 ml-4 mt-2 lg:mt-6 rounded lg:ml-6" /></a>
    <a href="http://isdonline.de/"><img src="../../static/img/isd.jpg" alt="" class="w-16 mt-2 h-12 ml-4 lg:mt-4 lg:ml-4" /></a>
    <a href="https://wearebornfreeberlin.wordpress.com/"><img src="../../static/img/we-are-born-free.jpg" alt="" class="w-12 h-12 mt-2 ml-4 rounded-full lg:ml-4" /></a>
  </div>
</marquee>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    if (location.pathname == "/blog/") {
      // sidebarArticles.style.display = "block";
      const activePill = document.querySelector("#all");
      activePill.style.background = "white";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    } else if (location.pathname == "/germany/") {
      const activePill = document.querySelector("#germany");
      activePill.style.background = "white";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    } else if (location.pathname == "/europe/") {
      const activePill = document.querySelector("#europe");
      activePill.style.background = "white";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    } else if (location.pathname == "/international/") {
      const activePill = document.querySelector("#international");
      activePill.style.background = "white";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    } else if (location.pathname == "/opinion/") {
      const activePill = document.querySelector("#opinion");
      activePill.style.background = "white";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    }
  });

</script>
