<ul class="filter-container sticky lg:relative pl-40 content-center h-12 lg:bg-transparent flex flex-no-wrap lg:flex-wrap flex-row overflow-x-scroll justify-center sm:mt-20 w-full lg:pl-0 lg:mb-10 font-semibold">

    <li class="self-center mr-3 meta--txt">
      <a class="w-12 rounded-full py-2 px-4 inline-block border border-white hover:border-gray-200 text-blue-500  filter text-xs" href="/" id="all">All</a>
    </li>

    <li class="self-center mr-3 meta--txt">
      <a href="/germany/" class="w-20 rounded-full py-2 px-4 inline-block border border-white hover:border-gray-200 text-blue-500  filter text-xs" id="germany" style="width: 6.6rem;">🇩🇪 Germany</a>
    </li>
    <li class="self-center mr-3 meta--txt">
      <a class="w-20 rounded-full py-2 px-4 inline-block border border-white hover:border-gray-200 text-blue-500  filter text-xs" href="/europe/" id="europe" style="width: 5.9rem;">🇪🇺 Europe</a>
    </li>
    <li class="self-center mr-3 meta--txt">
      <a class="w-20 rounded-full py-2 px-4 inline-block border border-white hover:border-gray-200 text-blue-500  filter text-xs" href="/international/" id="international" style="width: 8rem;">🌏 International</a>
    </li>
    <li class="self-center mr-3 meta--txt">
      <a class="w-20 rounded-full py-2 px-4 inline-block border border-white hover:border-gray-200 text-blue-500  filter text-xs" href="/opinion/" id="opinion" style="width: 6.2rem; margin-right: 8px;">💭 Opinion</a>
    </li>
  </ul>
<style>
.filter-container{
top: 59px;
background-color: #d0d0d0;
padding-left: 11.5rem;

}

@media (min-width: 1024px) {
.filter-container{
top: 0;
background-color: transparent;
padding-left: 0;

}
}

  .filter {
  list-style: none;
  color: var(--primary);
  border-color: #edf2f7;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.filter > a {
  color: var(--primary);
}

.filter-active {
  color: #d97584;
  border: 1px hsla(351, 57%, 65%, 0.07) solid;
  background: #fff;
}
</style>


<script>



  document.addEventListener("DOMContentLoaded", function(event) {
    if (location.pathname == "/") {
      // sidebarArticles.style.display = "block";
      const activePill = document.querySelector("#all");
      activePill.style.background = "hsla(350, 60%, 67%, .9)";
      activePill.style.color = "#fff";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    } 
    const tagPath = ['germany', 'europe', 'international', 'opinion'];

    tagPath.forEach(path =>{
    if (location.pathname == `/${path}/`) {
      const activePill = document.querySelector(`#${path}`);
      activePill.style.background = "hsla(350, 60%, 67%, .9)";
      activePill.style.color = "#fff";
      activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
    }
}
);

  });

</script>


