<div class="flex justify-center sm:mt-3">
  <a class="twitter-timeline" data-width="460" data-theme="light" data-link-color="#D97685"
    href="https://twitter.com/DICCampaignDE"></a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<h1>Tweets</h1>