<div
  class="mt-40 lg:mt-0 hidden lg:flex justify-center sm:mt-3"
  id="tweets-tab"
>
  <a
    class="twitter-timeline"
    data-width="460"
    data-theme="light"
    data-link-color="#D97685"
    href="https://twitter.com/DICCampaignDE"
  ></a>
</div>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
