<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

{% include "components/head.njk" %}

<body class="parent">

	<header class="sidebar">
		<div class="sidebar-container">
			<div>
				<div style="padding: 3% 10%">
					<a href="{{ '/' | url }}"> <img src="{{metadata.logo}}" style="width: 23vw;"></a>
					<!--<p>
		Mit der Kampagne “Death in Custody” reagieren wir auf die zahlreichen ungeklärten Todesfälle von Schwarzen Menschen und Menschen of Colour in polizeilichen Gewahrsamsituationen der vergangenen Jahre in Deutschland.
		</p>-->

					<!--<H2> {{ metadata.intro }} </H2>Mit der Kampagne “Death in Custody” reagieren wir auf die zahlreichen ungeklärten Todesfälle von Schwarzen Menschen und Menschen of Colour in polizeilichen Gewahrsamsituationen der vergangenen Jahre in Deutschland. <a href="#" style"text-align:center">Know more</a>	-->

					<!--{% include "components/nav.njk" %}-->
				</div>
				<div>


					<a class="twitter-timeline" data-width="460" data-height="1200" data-theme="dark"
						data-link-color="#D97685" href="https://twitter.com/OuryJalloh?ref_src=twsrc%5Etfw">Tweets by
						OuryJalloh</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
				{% include "components/footer.njk" %}
			</div>
		</div>
	</header>

	<main class="content">
		{{ layoutContent | safe }}
<a href ="/contact">
		<button class="email_btn">
		<img src="https://img.icons8.com/carbon-copy/100/000000/new-post.png" style="height:50px;">
		</button>
		</a>
	</main>


</body>

</html>