<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}

  <body class="parent">

<div class="sidebar lg:flex lg:flex-col p-0" style="/*padding-top: 17vh*/">
  <div class="sidebar-container flex flex-col justify-center lg:pt-24">
    {% include "components/intro-card.njk" %}
    {% include "components/floating-nav.njk" %}
    {% include "components/twitter-timeline.njk" %}
    {# include "components/footer.njk" #}

  </div>
</div>


<div class="absolute content min-w-full max-w-full lg:p-3 top-0 lg:relative">

  {{ layoutContent | safe }}

</div>

<script>
      /*
const windowHeight = document.querySelector('html').scrollHeight;
document.querySelector('body').height = windowHeight;

  if (location.pathname.indexOf("/posts/") == 0) {
const hideTabs = document.querySelector("#tabBar");
    hideTabs.style.display = "none";
  }
*/

 if (location.pathname.indexOf("/events/") === 0 || location.pathname.indexOf("/posts/") === 0) {
   console.log("inside events or post page");
     if (window.innerWidth < 1023) {
     document.querySelector(`#home-tab`).style.display = "none";
    console.log("window smaller than 1023 px, tweets should be hidden");

     }
     else{
       console.log("window bigger than 1023 px, tweets should be hidden");
     document.querySelector(`#tweets-tab`).style.display = "none";
     document.querySelector(`#home-tab`).style.display = "flex";
     }
  }
/*
  if (location.pathname.indexOf("/events/") == 0 || location.pathname.indexOf("/post/") == 0 && window.innerWidth > 1023) {
    console.log("hide tweets");
     document.querySelector(`#tweets-tab`).style.display = "none";
     document.querySelector(`#home-tab`).style.display = "flex";
  }
  */

if (window.location.pathname === "/" && window.location.hash === "") {
    if (window.innerWidth < 1024) {
activateTab("home");
    }
    else{
      activateTab("articles");
    }
}
allTabs.forEach(eachTab => {
  if (window.innerWidth < 1024) {
    if (window.location.hash === `#${eachTab}`) {
      activateTab(`${eachTab}`);
    }
  }
  else{
    let allTabs = ["articles", "events", "contact"];
        if (window.location.hash === `#${eachTab}`) {
      activateTab(`${eachTab}`);
    }
  } 
});


let coverSrc = "";  
try { // statements to try
coverSrc = document.querySelectorAll('img')[9].src;
}
catch (e) {
coverSrc = ""; 
}


if(coverSrc.charAt(coverSrc.length-4) === "." || coverSrc.charAt(coverSrc.length-5) === "."){
// image uploaded for article
  console.log("image found");

document.querySelectorAll('img')[9].style.display = "none";
document.querySelector(".post-header").style.backgroundImage = `url(${coverSrc})`;
}
else{
  console.log("no image found");
  //document.querySelectorAll('img')[9].style.display = "block";
document.querySelector(".post-header").classList.remove("post-header");
document.querySelector(".post-header-text").classList.remove("post-header-text");
}
</script>


  </body>

</html>
