<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
{% include "components/head.njk" %}

<body class="parent">



   <div class="sidebar md:flex md:flex-col p-0 hidden">
      	<div class="sidebar-container flex flex-col">
      		<a href="{{ '/' | url }}" class="logo flex justify-center" style="height:15vw">
          <div class="fixed z-10" style="background: white; width: 28.5vw; height:15vw"></div>
          <img src="{{metadata.logo}}"
      				class="logo-img h-auto fixed z-20" style="width:21.5%"></a>
      		<div class="flex justify-center sm:mt-3"><a class="twitter-timeline" data-width="460" data-height="3000"
      				data-theme="light" data-link-color="#D97685"
      				href="https://twitter.com/OuryJalloh?ref_src=twsrc%5Etfw"></a>
      		</div>
      		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      		<div class="flex justify-center"> {% include "components/footer.njk" %} </div>
      	</div>
      </div>

<div class="content max-w-full p-3">

  {% include "components/nav.njk" %}


  <div id="home">
    <!--  <main class="content max-w-full">-->
    {{ layoutContent | safe }}
    <!--  </main>-->
  </div>

  <div id="articles">
    {% set postslist = collections.posts %}
    {% include "components/postslist.njk" %}
  </div>

  <div id="events">
    {% set eventslist = collections.event %}
    {% include "components/eventslist.njk" %}
  </div>

  <div id="contact">
    {% set eventslist = collections.contact.njk %}
    {% include "components/form.njk" %}
  </div>
</div>
</body>
<script>
var tabs = new Tabby('[data-tabs]');
window.addEventListener("hashchange", function hideTabBar() {
  if (location.pathname != "/") {
    const hideTabs = document.querySelector("#tabBar");
    hideTabs.style.display = "none";
    console.log("this is" + hideTabs);
    console.log("I'm out");
  } else {
    console.log("at home");
  }


}());

if (location.hash == "#articles") {
  const activePill = document.querySelector("#all");
  activePill.style.background = "white";
  activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";

} else if (location.pathname == "/Germany/") {
  const activePill = document.querySelector("#germany");
  activePill.style.background = "white";
  activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";

} else if (location.pathname == "/Europe/") {
  const activePill = document.querySelector("#europe");
  activePill.style.background = "white";
  activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";

} else if (location.pathname == "/International/") {
  const activePill = document.querySelector("#international");
  activePill.style.background = "white";
  activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";

} else if (location.pathname == "/Opinion/") {
  const activePill = document.querySelector("#opinion");
  activePill.style.background = "white";
  activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";

}

var hashChangedTo = function (hash) {
  location.hash = "#" + hash;
  if (location.hash == "#articles") {
    const activePill = document.querySelector("#all");
    activePill.style.background = "white";
    activePill.style.border = "1px hsla(351, 57%, 65%, .07) solid";
  }

}
</script>

</html>