---
layout: layouts/base.njk

section: blog
permalink: /blog/index.html
---
<h1 class="meta--txt meta--primary meta--heading">{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}

