---
layout: layouts/base.njk

section: events
permalink: /events/index.html
---
<h1 class="meta--txt meta--primary meta--heading">{{ title }}</h1>


{{ layoutContent | safe }}
s
{% set eventslist = collections.event %}
{% include "components/eventslist.njk" %}

