---
layout: layouts/base.njk
section: home
---
<!--
<ul class="flex border-b list-none">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="#">Home</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">About Us</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Knowledgebase</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">Germany</a>
  </li>
    <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">Europe</a>
  </li>
    <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">International</a>
  </li>
</ul>
-->
<!--<h1 class="meta--txt meta--primary meta--heading">{{ title }}</h1>-->

<!--
<h1 class="meta--txt meta--primary meta--heading" style="margin-bottom:10px">Upcoming Event</h1>
<div class="px-5 mt-4">
<div class="event p-5 mb-6 rounded text-lg">
{{ layoutContent | safe }}
</div>
</div>
-->

{#
{% set postslist = collections.posts %}
{# set postslist = collections[ "Texas" ] 
{% include "components/postslist.njk" %}
#}

<section class="row sm:px-16 sm:px-20 mb-20 sm:mt-20">
    <article class="entry entry--category is-home sm:rounded sm:shadow sm:p-8">


<p>
Seit dem 27. September 2019 gibt es einen ersten Vernetzungsversuch 
bestehender Initiativen zur Problematik durch die Kampagne „Death in 
Custody“, die Polizeiarbeit mit Todesfolgen für Persons of Colour 
aufarbeitet. Der Zusammenschluss besteht aus hauptsächlich 
Berlin-zentrierten Organisationen, beschäftigt sich aber auch mit 
bundesweiten Vernetzungsmöglichkeiten. Ein erstes Vernetzungstreffen 
ist für den 14. März 2020 angesetzt. „Death in Custody“ will die 
Geschichten der Getöteten mit Hilfe der Angehörigen (neu) erzählen und 
sie an die Öffentlichkeit bringen. Bislang gilt die Version der 
Polizei häufig als die ‚Richtige‘, oder ist die einzig Auffindbare. 
Dies führt zur Kriminalisierung der Opfer, da diese, um die Polizei zu 
entlasten, nach ihrem Tod meist selbst als Täter*innen dargestellt 
werden. Das Ziel der Kampagne ist, mit Öffentlichkeit mehr Druck auf 
Polizei und Justiz auszuüben und dadurch die Wiederaufrollung von 
zuvor gar nicht, oder nur geringfügig ermittelten Fällen zu bewirken. 
In ihrer Arbeit bezieht sich die Kampagne auch auf die Erfahrungen von 
Einzelinitiativen, wie der Initiative in Gedenken an Oury Jalloh, die 
schon lange einen Zusammenschluss von Angehörigen der Todesopfer 
ermöglichen und gemeinsam für Gerechtigkeit und Aufklärung kämpfen.
</p>
</article>
</section>