---
layout: layouts/base.njk
section: post
---
<script>
function goBack() {
  window.history.back();
}
</script>

<nav class="mt-4 sm:mt-12" onclick="goBack()">
 <a>← Back</a>
</nav>

    <main class="content max-w-full">

<article class="sm:px-16 md:px-20 p-5 bg-white rounded leading-snug">
{# style="padding: 4% 10%;" for bigger screens#}
  <h1 class="text-4xl"><!--<span style="background-color:#d4d1b19c;"></span>--> {{ title }}</h1>
  <p>
    <small class="meta meta--primary">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ author }}
    </small>
  </p>
<div class="postBody mt-5">
  {{ layoutContent | safe }}
  </div>

  {% if tags %}
  <p>
    {% for tag in tags %}
    {%- if tag != "post" -%}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" rel="tag" class="hashtag">{{ tag }}</a>
    {%- endif -%}
    {% endfor %}
  </p>
  {% endif %}

</article>
</main>

<nav>
  <a href="{{ '/#blog' | url }}">← Back</a>
</nav>